<h1>
  {{title}}
</h1>

<hr>

<h2>Create new blog message</h2>
<form (ngSubmit)="submitBlog()">
  <div class="form-group">
    <label for="author">Author</label>
    <input type="text"  class="form-control" id="author"
           required
           [(ngModel)]="model.author" name="author">
  </div>
  <div class="form-group">
    <label for="body">Body</label>
    <input type="text" class="form-control" id="body"
           required
           [(ngModel)]="model.body" name="body">
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
</form>

<hr>

<h2>All blog messages</h2>
<ul>
  <li *ngFor="let message of blogMessages">
    {{message.author}} : "{{message.body}}"
  </li>
</ul>
